<section class="container float-dialog" id="customize">
<form action="/generate" method="get">
  <fieldset>
    <label for="color-initial">$color-initial</label>
    <input type="color" id="color-initial" name="color-initial" value="#fff">
    <label for="color-primary">$color-primary</label>
    <input type="color" id="color-primary" name="color-primary" value="#9b4dca">
    <label for="color-secondary">$color-secondary</label>
    <input type="color" id="color-secondary" name="color-secondary" value="#606c76">
    <label for="color-tertiary">$color-tertiary</label>
    <input type="color" id="color-tertiary" name="color-tertiary" value="#f4f5f6">
    <label for="color-quaternary">$color-quaternary</label>
    <input type="color" id="color-quaternary" name="color-quaternary" value="#d1d1d1">
    <br>
    <input class="button-primary" value="Generate" type="submit">
  </fieldset>
</form>
</section>
